@import "tailwindcss";

@theme {
  --color-bg: #fbf5de;
  --color-secondary: #3d74b6;
  --color-text: #141415;
  --color-cta: #DC3C22;

  --font-inter: "Inter", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
}

